<%- include('../../fragments/header.ejs') %>

<main>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= game._id %>">

        <h2><%= pageTitle %></h2>

        <label for="gameName">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="gameName" id="gameName" value="<%= game.gameName %>"
            <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('gameName')) ? 'error-input' : '' %>" />
        <span id="errorGameName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('gameName'))) { %>
            <%= validationErrors.find(e => e.path.includes('gameName')).message %>
            <% } %>
        </span>

        <label for="yearReleased">Rok wydania:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="yearReleased" id="yearReleased" min="-10000" max="2030" step="1"
            value="<%= game.yearReleased %>" <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('yearReleased')) ? 'error-input' : '' %>" />
        <span id="errorYearReleased" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('yearReleased'))) { %>
            <%= validationErrors.find(e => e.path.includes('yearReleased')).message %>
            <% } %>
        </span>

        <label for="gameCategory">Gatunek:<abbr title="required" aria-label="required">*</abbr></label>
        <select id="gameCategory" name="gameCategory"
            class="<%= validationErrors.find(e => e.path.includes('gameCategory')) ? 'error-input' : '' %>">
            <option disabled selected value> -- wybierz -- </option>
            <option>Strategiczna</option>
            <option>Wojenna</option>
        </select>
        <span id="errorGameCategory" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('gameCategory'))) { %>
            <%= validationErrors.find(e => e.path.includes('gameCategory')).message %>
            <% } %>
        </span>

        <label for="minAge">Min wiek:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minAge" id="minAge" min="0" max="24" step="1" value="<%= game.minAge %>"
            <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('minAge')) ? 'error-input' : '' %>" />
        <span id="errorMinAge" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('minAge'))) { %>
            <%= validationErrors.find(e => e.path.includes('minAge')).message %>
            <% } %>
        </span>

        <label for="minPlayersNum">Min ilość graczy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minPlayersNum" id="minPlayersNum" min="1" max="100000" step="1"
            value="<%= game.minPlayersNum %>" <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('minPlayersNum')) ? 'error-input' : '' %>" />
        <span id="errorMinPlayersNum" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('minPlayersNum'))) { %>
            <%= validationErrors.find(e => e.path.includes('minPlayersNum')).message %>
            <% } %>
        </span>

        <label for="maxPlayersNum">Max ilość graczy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="maxPlayersNum" id="maxPlayersNum" min="1" max="100000" step="1"
            value="<%= game.maxPlayersNum %>" <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('maxPlayersNum')) ? 'error-input' : '' %>" />
        <span id="errorMaxPlayersNum" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('maxPlayersNum'))) { %>
            <%= validationErrors.find(e => e.path.includes('maxPlayersNum')).message %>
            <% } %>
        </span>

        <label for="minPlayingTime">Min czas gry [min]:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minPlayingTime" id="minPlayingTime" min="1" max="100000" step="1"
            value="<%= game.minPlayingTime %>" <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('minPlayingTime')) ? 'error-input' : '' %>" />
        <span id="errorMinPlayingTime" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('minPlayingTime'))) { %>
            <%= validationErrors.find(e => e.path.includes('minPlayingTime')).message %>
            <% } %>
        </span>

        <label for="maxPlayingTime">Max czas gry [min]:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="maxPlayingTime" id="maxPlayingTime" min="1" max="100000" step="1"
            value="<%= game.maxPlayingTime %>" <%= (formMode == 'details') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('maxPlayingTime')) ? 'error-input' : '' %>" />
        <span id="errorMaxPlayingTime" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('maxPlayingTime'))) { %>
            <%= validationErrors.find(e => e.path.includes('maxPlayingTime')).message %>
            <% } %>
        </span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode == 'details' && loggedUser) { %>
            <a href="/game/edit/<%= game._id %>" class="form-button-edit">Edytuj</a>
            <% } %>
            <% if (formMode != 'details') { %>
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>" />
            <a class="form-button-cancel" href="/game">Anuluj</a>
            <% } else { %>
            <a class="form-button-cancel" href="/game">Powrót</a>
            <% } %>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>