<%- include('../../fragments/header.ejs') %>

<main>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= game._id %>">

        <h2><%= pageTitle %></h2>

        <label for="gameName">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="gameName" id="gameName" value="<%= game.gameName %>"
            <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorGameName" class="errors-text"></span>

        <label for="yearReleased">Rok wydania:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="yearReleased" id="yearReleased" min="-10000" max="2030" step="1"
            value="<%= game.yearReleased %>" <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorYearReleased" class="errors-text"></span>

        <label for="gameCategory">Gatunek:<abbr title="required" aria-label="required">*</abbr></label>
        <select id="gameCategory" name="gameCategory">
            <option disabled selected value> -- wybierz -- </option>
            <option>Strategiczna</option>
            <option>Wojenna</option>
        </select>
        <span id="errorGameCategory" class="errors-text"></span>

        <label for="minAge">Min wiek:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minAge" id="minAge" min="0" max="24" step="1" value="<%= game.minAge %>"
            <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorMinAge" class="errors-text"></span>

        <label for="minPlayersNum">Min ilość graczy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minPlayersNum" id="minPlayersNum" min="1" max="100000" step="1"
            value="<%= game.minPlayersNum %>" <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorMinPlayersNum" class="errors-text"></span>

        <label for="maxPlayersNum">Max ilość graczy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="maxPlayersNum" id="maxPlayersNum" min="1" max="100000" step="1"
            value="<%= game.maxPlayersNum %>" <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorMaxPlayersNum" class="errors-text"></span>

        <label for="minPlayingTime">Min czas gry [min]:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minPlayingTime" id="minPlayingTime" min="1" max="100000" step="1"
            value="<%= game.minPlayingTime %>" <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorMinPlayingTime" class="errors-text"></span>

        <label for="maxPlayingTime">Max czas gry [min]:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="maxPlayingTime" id="maxPlayingTime" min="1" max="100000" step="1"
            value="<%= game.maxPlayingTime %>" <%= (formMode == 'details') ? 'disabled' : '' %> />
        <span id="errorMaxPlayingTime" class="errors-text"></span>

        <% if (formMode == 'details') { %>
        <div class="form-buttons">
            <a href="/game/edit/<%= game._id %>" class="form-button-edit">Edytuj</a>
        </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'details') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <a class="form-button-cancel" href="/game">Anuluj</a>
            <% } else { %>
            <a class="form-button-cancel" href="/game">Powrót</a>
            <% } %>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>