<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Lista gier</h2>

    <div class="table-div">
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Tytuł</th>
                    <% if (loggedUser) { %>
                    <th scope="col">Twoja ocena</th>
                    <% } %>
                    <th scope="col">Średnia ocena</th>
                    <th scope="col">Ilość ocen</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let game of games) { %>
                <tr>
                    <td><a href="/game/details/<%= game._id %>" class="link-line"><%= game.gameName %></a></td>
                    <% if (loggedUser) { %>
                    <% if (loggedUser.rates.find(rate => rate.game_id == game._id)) { %>
                    <td class="td-center"><a
                            href="/rate/details/<%= loggedUser.rates.find(rate => rate.game_id == game._id)._id %>"
                            class="link-line"><%= loggedUser.rates.find(rate => rate.game_id == game._id).rate %></a>
                    </td>
                    <% } else {%>
                    <td class="td-center"><a href="/rate/add" class="list-actions-button-score">Oceń</a>
                    </td>
                    <% } %>
                    <% } %>
                    <td class="td-center"><%= game.averageRate %></td>
                    <td class="td-center"><%= game.rates.length %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/game/details/<%= game._id %>"
                                    class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <% if (loggedUser) { %>
                            <li><a href="/game/edit/<%= game._id %>" class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="/game/delete/<%= game._id %>" class="list-actions-button-delete">Usuń</a></li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <% if (loggedUser) { %>
    <p><a href="/game/add" class="button-add">Dodaj nową grę</a></p>
    <% } %>
</main>

<%- include('../../fragments/footer.ejs') %>