<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>giercownia</title>

    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/javascript" src="/javascripts/validationCommon.js"></script>
    <script type="application/javascript" src="<%= navLocation == 'creatorForm' ? '/javascripts/validationCreatorForm.js' : 
        navLocation == 'gameForm' ? '/javascripts/validationGameForm.js' : 
        navLocation == 'rateForm' ? '/javascripts/validationRateForm.js' :
        navLocation == 'gamerForm' ? '/javascripts/validationGamerForm.js' : 
        navLocation == 'publisherForm' ? '/javascripts/validationPublisherForm.js' : ''%>"></script>
</head>

<body>
    <header>
        <h1>Giercownia</h1>
        <img class="header-logo" src="/images/logo.png" alt="Giercownia Logo">
    </header>

    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/publisher/list" class="<%= navLocation == 'publishers' ? 'active' : ''%>">Wydawnictwa</a></li>
            <li><a href="/creator/list" class="<%= navLocation == 'creators' ? 'active' : ''%>">Twórcy</a></li>
            <li><a href="/game/list" class="<%= navLocation == 'games' ? 'active' : ''%>">Gry</a></li>
            <li><a href="/collection" class="<%= navLocation == 'collection' ? 'active' : ''%>">Kolekcja</a></li>
        </ul>
    </nav>