<%- include('../../fragments/header.ejs') %>

<main>
    <% if (loggedUser) { %>
    <h2>Profil</h2>

    <h3>Witaj <%= loggedUser.nick %></h3>
    <p>Liczba ocen: <%= loggedUser.rates.length %></p>

    <div class="form-buttons">
        <a class="mini-form-button-logout" href="/logout">Wyloguj się</a>
        <a class="mini-form-button-edit" href="/logout">Zmień hasło</a>
        <!-- <a class="mini-form-button-delete" href="/logout">Usuń konto</a> -->
    </div>
    <% } else { %>
    <h2>Logowanie</h2>

    <div id="login">
        <form class="form" method="post" action="/login" novalidate>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login">
            <span></span>

            <label for="loginPassword">Hasło:</label>
            <input type="password" id="loginPassword" name="password">
            <span></span>

            <div class="form-buttons">
                <span class="errors-text" id="loginErrors"><%= loginError ? loginError : ''%></span>
                <input class="form-button-login" type="submit" value="Zaloguj się">
                <a class="form-button-edit" href="/resetpass">Zresetuj hasło</a>
            </div>
        </form>
    </div>
    <% } %>

</main>

<%- include('../../fragments/footer.ejs') %>